// 컬러 선택
$back_color : #FCF6F5;
$main_color : #2BAE66;
// 리셋
* { margin : 0px; padding : 0px; font-family: 'Stylish', sans-serif; }
//말풍선 애니메이션 시작
@keyframes info_box {
    from { top : 12%; }
    to { top : 12.5%; }
}
@mixin ss_box {
    width : 32%;
    height : 30px;
    background-color: $main_color;
    color : $back_color;
    font-size: 1em;
    text-align: center;
    outline: none;
    border: none;
    margin : 5%;
    line-height: 30px;    
}
@media all and (max-width:768px){
.main_box{
    width : 100%;
    height : 100%;
    background-color: $back_color;
    display: flex;
    flex-flow: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);     
        .info_ment { // 말풍선 감싼 박스
            width : 350px;
            height : 50px;
            position: absolute;
            left : 50%;
            margin-left: -175px;
            margin-top: -20px;
            opacity: 0.8;
            transition: 0.2s;
            animation-name: info_box;
            animation-duration: 0.8s;
            animation-iteration-count: infinite;
        .box_c { //말풍선 텍스트 박스
            width : 348px;
            height : 38px;
            background-color : white;
            color : $main_color;
            font-size: 1em;
            line-height: 36px;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);            
        }
        .tr_c { // 말풍선 역삼각형 체크
            width : 0px;
            height : 0px;
            border-top : 10px solid white;
            border-bottom : 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            margin : 0px 0px 0px 110px;
            float: left;
            display: none;                                    
        }
        .mg_c { // 말풍선 역삼각형 위치 마진
            margin : 0px 0px 0px 110px;
        }
    }
    .box_clear {
        display: none;
    }    
    .mg_b { // 말풍선 위치 마진
        left : 60%;
        display: none;
    }
    .total_pop { // 팝업
        position : absolute;
        width : 100%;
        height : 100px;
        top : 30%;
        display: none;                
        .pop_up{
            position : absolute;            
            width : 100%;
            height : 100px;
            background-color: white;
            border: 5px dashed $main_color;
            color : $main_color;
            line-height: 95px;
            opacity: 0.8;
            font-size: 1.2em;
            box-sizing: border-box;
            text-align: center;
            z-index: 30;
        }
        .x_box{
            width : 70px;
            height : 70px;
            position : absolute;
            top : 10%;
            left : 90%;
            color : $main_color;
            font-size: 30px;
            line-height: 30px;
            z-index: 50;
            cursor: pointer;
        }
    } 
    .mid_box{
        width : 100%;
        display: flex;
        color : $main_color;        
        .back_box{
            width : 100%;
            display: flex;
            flex-flow: column;
            background-color: $back_color;
            .top_box{
                width : 100%;
                height : 100px;
                display: flex;
                background-color: $main_color;
                .title_box{
                    width : 100%;
                    background-color: $main_color;
                    color : $back_color;
                    font-size: 4em;
                    float: left;
                    text-align: center;
                    line-height: 98px;
                    font-weight: bold;
                }
            }
            .val_box{
                width : 100%;
                display: flex;
                flex-flow: wrap row;
                justify-content: space-around;
                .select_box{
                    @include ss_box;
                }
                .save_num{
                    @include ss_box;
                    width : 48%;
                    margin: 5%;            
                }
                .name_box{
                    @include ss_box;
                    background-color: $back_color;
                    color : $main_color;
                    float: left;
                    width : 29%;
                    margin : 5% 0% 5% 0%;                    
                }
                .print_area{
                    @include ss_box;
                    background-color: white;
                    width : 50%;
                    float : left;
                    margin : 5% 0% 5% 0%;
                    color : $main_color;
                    border : 1px dashed $main_color;                                        
                }                
            }
        }
    }
    .mid_title{ // 연산 버튼 박스 모음
        width : 100%;
        height : 100px;
        background-color: $main_color;
        display: flex;
        justify-content: center;
        .bt_st{
            background-color: $back_color;
            color : $main_color;
            font-weight: bold;
            text-align: center;
            width : 20%;
            height : 70px;
            font-size: 3.5em;
            margin : 15px;
            border : none;
            outline: none;
            border-radius: 10px;
            cursor: pointer;
            line-height: 68px;
        }
        #multi_bt{
            line-height: 60px;
        }
    }
    .bottom_box{ // 연산 결과 출력
        width : 100%;
        text-align: center;
        display: flex;
        flex-flow: wrap;
        align-content: space-around;
        padding: 10px 0px;
        .name_box{
            width : 30%;
            height : 30px;
            color: $main_color;
            float: left;
            line-height: 30px;
            margin : 3% 2% 3% 2%;
        }
        .print_area{
            width : 50%;
            height : 30px;
            background-color: white;
            color : $main_color;
            line-height : 30px;            
            float: left;
            border : 1px dashed $main_color;            
            margin : 3% 2% 3% 2%;
        }
    }    
}
}
@media all and (min-width:768px){
    @import './pc_antilogarithm.scss';
}